/* styles.css */

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 224, 26);
    font-family: 'Arial', sans-serif;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #f62d2d;
    border-radius: 5px;
    background-color: #701010;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: rgb(97, 13, 13);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#madlib-story {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}